<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Error</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login_error.css' %}">

</head>
<body>
    <header>
        <h1>Login Error</h1>
    </header>
    <div class="error-container">
        <p class="error-message">Invalid User</p>
        <p class="error-message">Please check user credentials</p>
    </div>
</body>
</html>
