<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Success</title>
    <link rel="stylesheet" type="text/css" href="{% static 'verification.css' %}">
</head>
<body>
    <header>
        <h1>Login Success</h1>
    </header>
    <div class="login-container">
        <p class="login-message">{% block text %}Congratulations, you have successfully logged in{% endblock %}</p>
    </div>
</body>
</html>
